* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#manyGhosts_1 {
  background-color: white;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#numberOfGhostsContainer_5 {
  position: fixed;
  background-color: #fff;
  top: calc(100% / 2 - 100px);
  left: calc(100% / 2 - 162px);
  padding: 25px 50px;
  border-radius: 10px;
  border: solid 1px #ccc;
  width: 325px;
}

#header_7 {
  text-align: center;
  margin: 0;
}

#numberOfGhosts_6 {
  padding: 15px 30px;
  display: block;
  border-radius: 5px;
  border: solid 1px #ccc;
  font-size: 16px;
  text-align: center;
  outline: 0;
}

