div.grey {
  background-color: #eee;
}

input.small {
  width: 50%;
  border: solid 1px #ccc;
}

#components {
  min-height: calc(100vh)
}

#designer {
  min-height: calc(100vh)
}

#properties {
  min-height: calc(100vh)
}
