#line_2 {
  width: 100%;
  position: relative;
  height: 3px;
  margin: 10px 0;
  background-color: #313e44;
}

#circle_3 {
  width: 14px;
  background-color: #b7e7ff;
  height: 14px;
  border-radius: 7px;
  position: absolute;
  top: -5px;
  left: -1px;
  cursor: default;
}

