#input_2 {
  outline: none;
}

#optionsContainer_3 {
  position: absolute;
  z-index: 1000;
}

#option_4 {
  cursor: pointer;
  padding: 3px 6px;
  background-color: #ffffff;
}

#option_4:hover {
  background-color: #eaeaea;
}

