#blissUiV_1 {
  min-width: 1400px;
}

#websites_251 {
}

#blissHeader_263 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #263036;
  border-bottom: solid 5px #435560;
  padding: 7px 14px;
  height: auto;
  min-width: 1400px;
}

#signout_268 {
  color: #ffffff;
  cursor: pointer;
}

#icon_269 {
}

#label_270 {
  display: inline-block;
  margin-left: 10px;
}

#blissHeaderText_262 {
  display: inline-block;
  font-size: 14pt;
  font-weight: bold;
  color: #5fc0ec;
  padding-top: 1px;
}

#listContainer_264 {
  margin-top: 45px;
}

#websitesHeader_261 {
  background-color: #698290;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

#listOfWebsites_252 {
  margin: 10px;
}

#websiteLink_267 {
  display: block;
}

#listOfPages_265 {
  padding-left: 10px;
}

#createWebsiteContainer_271 {
  padding: 10px;
}

#createWebsiteInput_272 {
  outline: none;
  padding: 6px;
  border-radius: 3px;
  border: solid 1px #ccc;
}

#createWebsiteButton_273 {
  margin-left: 5px;
}

#topMenu_111 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #263036;
  border-bottom: solid 5px #435560;
  padding: 7px 14px;
  min-width: 1400px;
  height: 48px;
}

#appHeader_181 {
  display: inline-block;
  font-size: 14pt;
  font-weight: bold;
  color: #5fc0ec;
  padding-top: 1px;
}

#pageOptions_88 {
  margin-left: 15px;
}

#projectDropdown {
  margin-right: 5px;
}

#dropdownButton_106 {
  background-color: #313e45;
  color: #e0ebf0;
  outline: 0;
}

#options_107 {
  min-width: 15em;
}

#newPageLabel_297 {
  font-size: 10px;
  text-transform: uppercase;
}

#newPageContainer_292 {
  padding: 0.5rem 1.5rem;
}

#newPageInput_293 {
  outline: none;
}

#divider_158 {
}

#existingPageLabels_162 {
  font-size: 10px;
  text-transform: uppercase;
}

#existingProjectsOverflow_298 {
  max-height: 10em;
  overflow-y: scroll;
}

#existingProject_161 {
  margin-right: 5px;
  cursor: pointer;
  font-size: 10pt;
}

#icon_166 {
}

#label_165 {
  display: inline-block;
  margin-left: 10px;
}

#scrollToSeeMore_299 {
  color: #636c72;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0.5rem 1.5rem;
}

#divider_159 {
}

#exportLabel_194 {
  font-size: 10px;
  text-transform: uppercase;
}

#exportButton {
  cursor: pointer;
  margin-right: 5px;
  font-size: 10pt;
}

#icon_191 {
}

#label_192 {
  display: inline-block;
  margin-left: 10px;
}

#publishPage_104 {
  cursor: pointer;
  margin-right: 5px;
  font-size: 10pt;
}

#icon_167 {
}

#label_168 {
  display: inline-block;
  margin-left: 10px;
}

#divider_246 {
}

#emailLabel_250 {
  font-size: 10px;
  text-transform: uppercase;
}

#switchPage_260 {
  cursor: pointer;
  margin-right: 5px;
  font-size: 10pt;
}

#label_259 {
  display: inline-block;
  margin-left: 10px;
}

#signOut_247 {
  cursor: pointer;
  margin-right: 5px;
  font-size: 10pt;
}

#icon_248 {
}

#label_249 {
  display: inline-block;
  margin-left: 10px;
}

#saveButton {
  cursor: pointer;
  color: #e0ebf0;
  background-color: #313e45;
  border-color: #313e45;
}

#icon_94 {
}

#refreshButton_201 {
  cursor: pointer;
  color: #e0ebf0;
  background-color: #313e45;
  border-color: #313e45;
  margin-left: 5px;
}

#icon_202 {
}

#openContainer_274 {
  margin-left: 15px;
}

#openButton_275 {
  cursor: pointer;
  color: #e0ebf0;
  background-color: #313e45;
  border-color: #313e45;
  margin-left: 5px;
}

#icon_276 {
}

#toggleContent {
  margin-left: 15px;
}

#toggleLabel_189 {
  color: #e0ebf0;
  margin-top: 7px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 5px;
}

#projectDropdown {
  margin-right: 5px;
}

#viewButton_229 {
  background-color: #313e45;
  color: #e0ebf0;
  outline: 0;
}

#viewOptions_230 {
  font-size: 10pt;
}

#resolutionContainer_147 {
  margin-left: 15px;
}

#resolutionLabel_185 {
  color: #e0ebf0;
  margin-right: 10px;
  margin-top: 7px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 10px;
}

#projectDropdown {
  margin-right: 5px;
}

#resButton_234 {
  background-color: #313e45;
  color: #e0ebf0;
  outline: 0;
}

#resOptions_235 {
  font-size: 10pt;
}

#toggleLayoutContainer_187 {
  margin-left: 15px;
  display: inline-flex;
  vertical-align: middle;
}

#layoutLabel_188 {
  color: #e0ebf0;
  margin-right: 5px;
  margin-top: 7px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 10px;
}

#showHtml_150 {
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  background-color: #313e45;
  color: #e0ebf0;
  border-color: #313e45;
}

#showProperties_157 {
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  background-color: #313e45;
  color: #e0ebf0;
  border-color: #313e45;
}

#colorPicker_152 {
  width: 153px;
  overflow: hidden;
  height: 29px;
}

#inputText_153 {
  width: 110px;
  outline: none;
  color: #e0ebf0;
  background-color: #313e45;
  border: none;
  padding: 4px 5px;
}

#inputCopyLink_253 {
  display: inline-block;
  color: #e0ebf0;
  text-decoration: none;
  position: absolute;
  right: 65px;
  top: 10px;
}

#inputColor_154 {
  border: none;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  height: 46px;
  width: 46px;
  margin: -13px 0 -14px -3px;
  overflow: hidden;
  padding: 0px;
  top: 5px;
  display: inline-block;
  cursor: pointer;
}

#colorPickerLabel_186 {
  color: #e0ebf0;
  margin-right: 10px;
  margin-top: 7px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 10px;
}

#blissPanels_96 {
  margin-top: 48px;
  position: relative;
}

#html_3 {
  background-color: #eee;;
  width: 20%;
  height: calc(100vh - 80px);
  overflow: auto;
  border-right-color: #698290;
  border-right-width: 1px;
  border-right-style: solid;
}

#elementsHeader_20 {
  font-size: 12pt;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
}

#treeContainer_110 {
  position: relative;
  display: block;
  height: calc(100vh - 117px);
}

#elementTree_18 {
}

#designer {
  width: 60%;
}

#designerContainer_80 {
  background-color: #dbe2e5;
  padding: 10px;
  overflow: auto;
  height: calc(100vh - 80px);
}

#previewContainer_205 {
  border-color: #698290;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: #fff;
}

#iframeHeader_204 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 5px 10px 10px 10px;
  margin: 0;
}

#preview {
  width: 100%;
  height: 99%;
  border: none;
}

#jsEditor {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#h3Js {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#code {
  background: #fff;
  overflow: auto;
  height: auto;
}

#blissJavascript_79 {
}

#dataEditor_238 {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#h3Js {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#codeContainer_240 {
  background: #fff;
  overflow: auto;
  height: auto;
}

#generalEditor {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#h3General {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#fileNameContainer_288 {
  margin-top: 1em;
}

#fileNameInput_290 {
  outline: none;
}

#pageTitleContainer_287 {
  margin-top: 1em;
}

#pageTitleInput_285 {
  outline: none;
}

#deletePage_196 {
  color: #fff;
  cursor: pointer;
  margin-top: 6px;
  background-color: #9b0000;
}

#icon_197 {
}

#deleteLabel_198 {
  display: inline-block;
  margin-left: 5px;
}

#globalJavascriptEditor_179 {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#h3GeneralJs {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#generalJsEditorContainer_137 {
}

#projJs_108 {
}

#globalCssEditor_180 {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#globalCssHeader_223 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#cssVarsEditor_225 {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#globalCssVarsHeader_140 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#globalCssVars_141 {
}

#pageLoadEditor_226 {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#loadHeader_155 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#loadFunctions_156 {
}

#stylesheetHeader_138 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
}

#stylesheetProperties_139 {
}

#scriptsHeader_136 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
}

#scriptProperties_135 {
}

#packagesEditor_227 {
  overflow: auto;
  height: calc(100vh - 80px);
  padding: 10px;
}

#packagesHeader_142 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#packagesProperties_143 {
}

#propertiesContainer {
  background-color: #eee;
  height: calc(100vh - 80px);
  overflow: auto;
  width: 20%;
  border-left-color: #698290;
  border-left-style: solid;
  border-left-width: 1px;
}

#propertyHeader_182 {
  font-size: 12pt;
  background-color: #698290;
  color: #fff;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
}

#propertiesPadding_151 {
  padding: 5px;
  position: relative;
}

#toggleJavascript_278 {
  color: #e0ebf0;
  background-color: #313e45;
  text-transform: uppercase;
}

#blissProperties_11 {
}

#statusBar {
  position: fixed;
  bottom: 0;
  border-top: solid 3px #ddd;
  left: 0;
  right: 0;
  font-size: .8em;
  background-color: #fff;
  padding: 5px 10px;
}

