body {
  font-family: 'Roboto', sans-serif;;
  background-color: #333;
  color: #333;
  margin: 0;
}

.header {
  padding: 10px 20px;
  background-color: #323f46;
  margin-left: -15px;
  margin-right: -15px;
}

a.menu-brand {
  background-color: transparent;
  font-size: 18px;
  color: #5fc0ec;
  text-decoration: none;
}

.brand-small {
  color: #cecece;
  margin-left: 9px;
}

.home-menu {
  background-color: #323f46;
}

.home-menu a {
  color: #75bbd4;
  margin: 0 10px;
}

#divider_80 {
  color: #75bbd4;
  display: inline-block;
  margin: 0 15px;
}

#homePage_30 {
  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
}

.l-box {
  padding: 20px;
}

#heroText_31 {
  background-color: #01a5e0;
  padding: 100px 0;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

#subtext_92 {
  text-transform: uppercase;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

#new_53 {
  opacity: .2;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  font-size: 5em;
}

#marketingCopy_46 {
  margin: 0;
}

#column_38 {
  padding: 40px 0;
}

#column_37 {
  padding: 40px 0;
}

#copy_35 {
}

#copy_42 {
}

#copy_43 {
}

#inAction_86 {
  margin: 0;
}

#columnCopy_87 {
  padding: 40px 0;
}

#aNewModelCopy_88 {
  text-align: center;
}

#youtubeVideo_91 {
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: block;
}

#heroTextCopy_74 {
  background-color: #00e6a1;
  padding: 50px 0;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  border-top: solid 5px #009f7a;
}

#newCopy_75 {
  opacity: .2;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 50px);
  font-size: 3em;
}

#marketingCopyCopy_76 {
  margin: 0;
  background-color: #defff3;
}

#columnCopy_77 {
  padding: 40px 0;
}

#storyPage_70 {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #ffffff;
}

#comingSoon_72 {
  padding: 75px 0;
  text-align: center;
}

#pricingPage_68 {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #ffffff;
}

#heroTextCopyCopy_84 {
  background-color: #7a00ec;
  padding: 100px 0;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

#newCopyCopy_85 {
  opacity: .2;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  font-size: 5em;
}

#new_83 {
  padding: 50px;
}

#subscribeNow_82 {
  margin: 50px 0;
  font-size: 2em;
  padding: 1em;
  border: solid 3px #c2ebcf;
}

#copy_69 {
  text-align: center;
}

#contactPage_59 {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #ffffff;
}

#heroTextCopy_60 {
  background-color: #e6b100;
  padding: 100px 0;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

#newCopy_61 {
  opacity: .2;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 40px);
  font-size: 5em;
}

#marketingCopyCopy_62 {
  margin: 0;
}

#column_63 {
  padding: 40px 0;
}

#emailLink_64 {
  text-align: center;
  display: block;
  font-size: 1.5em;
}

#emailCopy_65 {
  margin-top: 25px;
}

.footer {
  background-color: #333;
  color: #bcbcbc;
  text-align: center;
  padding: 1rem;
}

