body {
  padding: 0;
  margin: 0;
  color: #333333;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
  background-repeat: repeat;
}

#headerContainer_6 {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #073d5a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#blissLink_58 {
  text-decoration: none;
  color: #fff;
}

#menuContainer_7 {
}

#menuContainer_7 > a {
  margin: 0.5em;
  text-decoration: none;
  background-color: #db2b39;
  padding: 0.5em 0.75em;
  font-size: 0.75em;
  color: #ffffff;
  border-radius: 0.2em;
}

#menuContainer_7 > a:hover {
  background-color: #44a1a0;
  color: #ffffff;
}

#hero_14 {
  margin: 9rem auto 3rem auto;
  max-width: 1000px;
}

#header_4 {
  text-align: center;
}

#subheader_5 {
  text-align: center;
}

#threeBigProblems_15 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

#threeBigProblems_15 .problem {
  background-color: #ffd166;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em;
  width: 30%;
}

#visualDesign_17 {
  text-align: center;
}

#prototype_23 {
  text-align: center;
}

#collaborate_26 {
  text-align: center;
}

#introducingBlissContainer_28 {
  background-color: #0c5c88;
  padding: 1rem 0 5rem 0;
  margin: 4rem 0 1rem 0;
  color: #FFFFFF;
  max-width: 1000px;
  margin: 4rem auto;
  border-radius: 0.5rem;
}

#introducingBlissui_29 {
  text-align: center;
}

#revolutionize_30 {
  text-align: center;
}

#featureContainer_31 {
  display: flex;
  justify-content: center;
  margin: 0 4em 4em 2em;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

#featureContainer_31 .feature {
  margin: 0.5em;
  width: 40%;
}

#useBlissContainer_56 {
  text-align: center;
  margin: 4em 0 4em;
}

#useBliss_57 {
  text-align: center;
}

#startNowLink_59 {
  background-color: #db2b39;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.5em;
  display: inline-block;
  color: #ffffff;
}

#startNowLink_59:hover {
  background-color: #44a1a0;
}

