body {
  margin: 0;
  padding: 0;
}

#hey_3 {
  background-color: #71d59e;
  color: white;
  padding: 10px;
}

#message_2 {
  background-color: #959bd5;
  padding: 10px;
  color: white;
  margin-top: 10px;
}

