* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/node_modules/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0')
    format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.draggable:active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.menu-container {
  position: relative;
  min-height: 1px;
}

.menu-options {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background: #fff;
  width: 100%;
  padding: 10px;
  border-bottom: solid 3px #ccc;
}

.node-tree {
  margin-top: 40px;
  overflow: auto;
  height: 300px;
  width: 100%;
}

.menu-options a {
  display: inline-block;
  margin: 0 5px;
}

.menu {
  font-size: 12px;
  border-left: solid 3px #ccc;
  outline:none;
}

.menu > a, .menu > a:hover {
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  color: blue;
}

.menu.focus {
  border-left: solid 3px rgb(15, 108, 251);
}

.tree {
  padding-left: 20px;
  position: relative;
}

.node {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
}

.node-child {
  height: 3px;
  overflow: hidden;
  padding: 3px 0 0 0;
}

.node-drag-over {
  background-color: #b6d2e6;
}

.node .fa {
  font-size: 8px;
  margin-right: 5px;
  width: 10px;
}

.selected {
  position: absolute;
  /*left: -1000px;*/
  top: 0;
  /*width: 5000px;*/
  height: 100%;
  background-color: #ccc;
  z-index: 1;
  left: calc(100% * -1);
  width: calc(100% * 2);
}

.selected-text {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
}

.hide {
  display: none;
}

.drag-over {
  border: solid 1px #7878ff;
  background-color: #dfdfff;
}
