<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bliss JavaScript</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="node_modules/tether/dist/css/tether.min.css" rel="stylesheet">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="node_modules/codemirror/theme/solarized.css">
  <link rel="stylesheet" href="css/bliss-javascript.css">
</head>
<body>

<div id="components"></div>

<script src="node_modules/tether/dist/js/tether.min.js" charset="utf-8"></script>
<script src="node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script src="node_modules/codemirror/lib/codemirror.js" charset="utf-8"></script>
<script src="node_modules/codemirror/mode/javascript/javascript.js" charset="utf-8"></script>
<script src="node_modules/react/dist/react.js" charset="utf-8"></script>
<script src="node_modules/react-dom/dist/react-dom.js" charset="utf-8"></script>
<script src="node_modules/react-code-mirror/standalone.js" charset="utf-8"></script>
<script src="js/project-json.js" charset="utf-8"></script>
<script src="js/bliss-javascript.js" charset="utf-8"></script>
<script type="text/javascript">
(function() {
  var app = {
    proj: null,
    component_id: null,
    setComponent: function(id) {
        this.component_id = id;
        this.render();
    },
    onChange: function(newComponent) {
      this.proj.components[this.component_id] = newComponent;
      this.render();
    },
    render: function() {
      var component = (this.component_id !== null) ?
        this.proj.components[this.component_id] : null;
      ReactDOM.render(React.createElement(BlissJavascript.component, {
        component: component,
        onChange: this.onChange.bind(this)
      }),
      document.getElementById('components'));
    },
    init: function(proj) {
      this.proj = proj;
      this.render();
    }
  };
  app.init(projectJson.project);
  window.app = app;
})();
</script>
</body>
</html>
