body {
  font-size: 18px;
  background-color: #e2e8ea;
  font-family: 'Roboto', sans-serif;;
  color: #333333;
}

#row_40 {
  text-align: center;
}

#header_38 {
  margin-top: 1rem;
}

#row_41 {
  background-color: #ffffff;
  border: solid 1px transparent;
  border-radius: 5px;
  margin: 0 0 3rem 0;
  padding: 1rem 0 0 0;
}

.menu a {
  display: block;
  font-size: 14px;
  padding: .5rem 1rem;
  color: #333333;
  border-right: solid 2px rgba(0,0,0,.1);
  text-decoration: none;
}

.menu a.active, .menu a.active:hover {
  border-right: solid 2px #333333;
  font-weight: bold;
  background-color: rgba(0,0,0,.1);
}

.menu a:hover {
  border-right: solid 2px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.05);
}

h2 {
  margin-top: 1rem;
}

